body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-main {
  background-color: #3ca9f0;
}

.bg-second {
  background-color: #e73669;
}
