.container {
  width: 100%;
  padding: 1.86rem 15px;
}

.container > .row {
  width: 62.5rem;
  margin: 0 auto;
}

.container > .row-small {
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 68.75rem) {
  .container > .row {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
  }
}
