.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  line-height: 1;
  padding: 0.6em 1em;
  color: white;
  text-decoration: none;
  background-color: var(--color-accent);
  border: 0.1em solid var(--color-accent);
  border-radius: 0.2em;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.btn.btn-round {
  border-radius: 2.2em;
}

.btn.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  font-size: 1.5rem;
  border-radius: 50%;
}

.btn:hover {
  background-color: white;
  border-color: gray;
  color: black;
}

.btn:active {
  border-color: var(--color-accent);
}
