.btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: 0.6rem 1rem;
  color: white;
  background-color: var(--color-accent);
  border: 0.2rem solid var(--color-accent);
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  border-color: gray;
  color: black;
}

.btn:active {
  border-color: var(--color-accent);
}
