.clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  color: white;
}

.clock .time {
  text-align: center;
  /* flex: 1; */
}

.clock .value {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}

.clock .label {
  font-size: 2rem;
}

@media (max-width: 43rem) {
  .clock {
    max-width: 18.75rem;
  }
}

@media (max-width: 25rem) {
  .clock {
    gap: 2rem;
  }
  .clock .value {
    font-size: 3.4rem;
  }

  .clock .label {
    font-size: 1.8rem;
  }
}
