.mouse {
  position: relative;
  width: 2em;
  height: 3em;
  font-size: 1rem;
  border: 0.2em solid white;
  border-radius: 2em;
  text-align: center;
}

.mouse::before {
  position: absolute;
  content: '';
  width: 0.3em;
  height: 0.5em;
  top: 0.4em;
  left: 0.7em;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 0.15em;
  animation: whell-down 1s infinite ease-in-out;
}

@keyframes whell-down {
  0% {
    top: 0.4em;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 1.8em;
    opacity: 0;
  }
}
