/* ---   base   --- */
@import './../base/base.css';
@import './../base/layout.css';

/* ---   3rd party  ---*/
@import '../vendor/font-awesome.min.css';

/* ---   components  ---*/
@import '../components/clock.css';
@import '../components/progress-bar.css';
@import '../components/mouse.css';
@import '../components/form.css';
@import '../components/button.css';

/* ---   custom syles  ---*/

.hero {
  min-height: 100vh;
  padding-top: 6rem;
  background-image: url('../../img/hero-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
}

.hero .logo {
  height: 3rem;
}

.hero-title {
  margin-bottom: 1rem;
  font-size: 5rem;
  line-height: 1;
  text-transform: uppercase;
}

.hero-descr {
  color: gray;
  font-size: 1.4rem;
}

/* main content */
.main-content {
  display: flex;
  justify-content: space-between;
}

.content-about {
  width: 52%;
}

.content-ask {
  width: 44%;
}

.subtitle {
  margin-bottom: 1.13rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.main-descr {
  margin-bottom: 2rem;
  color: gray;
  font-size: 1rem;
  line-height: 1.4;
}

.main-descr a {
  color: var(--color-accent);
  text-decoration: none;
}

/* footer */
footer.container {
  margin-top: 4rem;
  padding-top: 0;
  padding-bottom: 4rem;
  text-align: center;
}

.socials {
  position: relative;
  padding: 1.25rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.13rem;
  border-bottom: 2px solid #fff3;
}

footer .to-top {
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.soc-link {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.31rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  transition: color 0.2s ease-in-out;

  &:hover {
    font-size: 1.25rem;
    color: var(--color-accent);
  }
}

.footer-logo {
  margin: 1.4rem 0;
  height: 2.4rem;
}

footer p {
  /* font-size: 1.2rem; */
  color: #fff6;
  line-height: 1.6rem;
}

footer p a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--color-accent);
  }
}

.footer-copyrights {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.footer-copyrights p {
  position: relative;
}

.footer-copyrights p + p::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 1rem;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff6;
}
/* -----------  MEDIA   ----------------- */

@media (max-width: 54rem) {
  footer .to-top {
    right: 0;
  }
}

/* 750px */
@media (max-width: 46.88rem) {
  .main-content {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .content-about,
  .content-ask {
    max-width: 38rem;
    width: 100%;
  }
}

/* 600px */
@media (max-width: 38rem) {
  .hero-title {
    font-size: 4rem;
  }

  .footer-copyrights {
    display: block;
  }
  .footer-copyrights p + p::before {
    display: none;
  }
}
