/* ---   base   --- */
@import './../base/base.css';
@import './../base/layout.css';

/* ---   3rd party  ---*/
@import '../vendor/font-awesome.min.css';

/* ---   components  ---*/

/* ---   custom syles  ---*/
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
}

.hero-title {
  font-size: 5rem;
}

.hero-descr {
  color: gray;
  font-size: 1.4rem;
}

/* main content */
.main-content {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.content-about {
  width: 52%;
}

.content-ask {
  width: 44%;
}

.subtitle {
  margin-bottom: 1.13rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.main-descr {
  color: gray;
  font-size: 1rem;
  line-height: 1.4;
}

.main-descr a {
  color: #e73669;
  text-decoration: none;
}

/* footer */
footer.container {
  padding-top: 0;
}
.socials {
  padding: 1.25rem 0;
  display: flex;
  justify-content: center;
  gap: 1.13rem;

  border-bottom: 2px solid #fff3;
}

.socials a {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.31rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  transition: color 0.2s ease-in-out;

  &:hover {
    font-size: 1.25rem;
    color: #e73669;
  }
}

/* -----------  MEDIA   ----------------- */
@media (max-width: 750px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .content-about,
  .content-ask {
    max-width: 37.5rem;
    width: 100%;
  }
}
