/* ---   base   --- */
@import './../base/base.css';
@import './../base/layout.css';

/* ---   3rd party  ---*/

/* ---   components  ---*/

/* ---   custom syles  ---*/
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.hero-title {
  font-size: 80px;
}

.hero-descr {
  color: gray;
  font-size: 22px;
}

/* main content */
.main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.content-about {
  width: 52%;
}

.content-ask {
  width: 44%;
}

.subtitle {
  margin-bottom: 18px;
  font-size: 22px;
  text-transform: uppercase;
}

.main-descr {
  color: gray;
  font-size: 16px;
  line-height: 1.4;
}

.main-descr a {
  color: #e73669;
  text-decoration: none;
}

@media (max-width: 750px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .content-about,
  .content-ask {
    max-width: 600px;
    width: 100%;
  }
}
