/* ---   base   --- */
@import './../base/base.css';
@import './../base/layout.css';

/* ---   3rd party  ---*/

/* ---   components  ---*/

/* ---   custom syles  ---*/
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.hero-title {
  font-size: 80px;
}

.hero-descr {
  color: gray;
  font-size: 22px;
}
